chess
chess-jai
*.*~
*.pdb
*.exe
*.*.exe
.build
resources/
*.txt
*.so
*.a
.*.swp
*.dot
jai-chess
jai-chess-ai
ai-jai-chess
ai
dol
leviathan
*.nnue
nnue-probe/
eval
my-chess-ai
lion-tulip
stockfish
mockfish
openings
movegen
nnue
ceij
ui
linux
windows
